node_modules/**/*
.expo/*
.expo-shared/*
.vs/*
.vscode/*
npm-debug.*
assets/
config.js
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
app.json
babel.config.js
package-lock.json
package.json
TODO.txt

# macOS
.DS_Store
